@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-shadow{
  text-shadow: 2px 2px 3px #948e8e;
}

.profile-img img{
  width: 225.13px;
  height: 233.93px;
  border-radius: 112.565px;
}

.button-color{
  width: 120.01px;
  height: 30.17px;
  border-radius: 20.1287px;
}
.container{
  /* color:white */
}
